#board-container {

}

.board-row {

}

.square {
  display: table-cell;
  border-style: solid;
  padding: 30px;
}

.black-square {
  background-color: green;
}

.white-square {
  background-color: white;
}

.highlighted {
  background-color: red;
}

.clicked {
  background-color: blue;
}
